body {
    background-image: url("textures/bg.jpg");
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.main-text {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 30px;
    float: left;
    background-image: linear-gradient(rgb(0, 0, 70), black);
    color: dodgerblue;
    height: fit-content;
    border-style: inset; 
    border-color:  dodgerblue;
    opacity: 0.9;
    word-wrap: break-word; /* we don't want to overflow the div! */
}

.sidebar {
    background-image: linear-gradient(rgb(0, 0, 70), black);
    color: dodgerblue;
    width: 25%;
    height: fit-content;
    border-style: inset;
    border-color:  dodgerblue;
    padding-bottom: 2%;
}

.main-invite {
    max-width: 30%;
}

.copyright {
    text-align: center;
}

/* link color fix */
a, a:visited {
    color: dodgerblue;
}

#cmb-invite {
    width: 30%;
    padding-left: 35%;
}

#create-embed, #random-reddit, #userinfo {
    width: 30%;
    padding-left: 3%;
}

.header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}