body {
    background-image: url("textures/bg.jpg");
    background-size: 100vw 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#main-wrapper {
    padding-left: 150px;
    padding-right: 150px;
}

.main-text {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 20px;
    float: left;
    background-image: linear-gradient(rgb(0, 0, 70), black);
    color: dodgerblue;
    width: 65%;
    height: fit-content;
    border-style: inset; 
    border-color:  dodgerblue;
    word-wrap: break-word; /* we don't want to overflow the div! */
}

.sidebar {
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bold;
    float: left;
    background-image: linear-gradient(rgb(0, 0, 70), black);
    color: dodgerblue;
    width: 25%;
    height: fit-content;
    border-style: inset;
    border-color:  dodgerblue;
    padding-bottom: 2%;
}

.main-invite {
    max-width: 30%;
}

.leaderboard {
    font-weight: lighter;
}

#top.leaderboard, th {
    background-image: linear-gradient(blue, black);
}

.sidebar-invite {
    max-width: 90%;
    margin: auto;
}

table, th, td {
    margin: auto;
    border: 1px solid;
    border-collapse: collapse;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: rgb(0, 36, 71);
}

/* link color fix */
a, a:visited {
    color: dodgerblue;
}
img {
    max-width: 30%;
}

#sidebar ul li {
    list-style-type: none;
    text-indent: 0;
    margin: 0;
}
